*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: 1fr;
    
    
    
}

body{
    min-height: 70vh;
}

.green{
    width: 100%;
    background-color: #7abcff;
}

.header-btn{
    text-decoration: none;
    color: #FFF;
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    font-size: 20px;
    transition: 0.8s;
}

.header-btn:hover{
    padding: 3px;
}



#header{
    margin: 0;
    width: 1694px;
    background: #7abcff;
}

#container{
    display: grid;
    margin: 0;
    grid-template-rows: 5fr;
    min-height: 180vh;
}

#vermelho{
    margin: 0;
    background-image: url(/project-start/img/undraw.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 80vh;
    
    
}

#azul{
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

.img-1{
    background-color: rgb(44, 39, 39);
    background-image: url(/project-start/img/data_storage_2_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    transition: 0.5s;

}

.img-1:hover{
    padding: 5px;
}
.img-2{
    background-color: rgb(44, 39, 39);
    background-image: url(/project-start/img/desktop_analytics_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;

}
.img-3{
    background-color: rgb(44, 39, 39);
    background-image: url(/project-start/img/files_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;

}
.img-4{
    background-color: rgb(44, 39, 39);
    background-image: url(/project-start/img/monitor_coding_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;

}
.img-5{
    background-color: rgb(44, 39, 39);
    background-image: url(/project-start/img/monitor_settings_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;

}
.img-6{
    background-color: rgb(44, 39, 39);
    background-image: url(/project-start/img/server_2_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;

}
.img-7{
    background-color: rgb(44, 39, 39);
    background-image: url(/project-start/img/server_3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;

}
.img-8{
    background-color: rgb(44, 39, 39);
    background-image: url(/project-start/img/server_safe_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;

}



#parte-baixo{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;

}

#conteudo-footer{
    width: 100%;
    margin: 0;
    width: 100%;
    text-align: center;

}

.bold{
    font-weight: bold;
}



.zone {
    padding:30px 50px;
    margin:40px 60px;
    cursor:pointer;
    display:inline-block;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}



/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}
